.allparant {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(148, 219, 180, 0.2);
  box-shadow: 0px 8px 32px 0 rgb(0, 0, 255, 0.33);
}
.parnt {
  padding-top: 30px;
}
.righ {
  margin-right: 10px;
}
.mobileview {
  display: none;
}
@media (max-width: 770px) {
  .allparant {
    display: none;
  }
  .mobileview {
    display: block;

    padding: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  }
 .mediaclas{
    margin-left: 10px;
 }
}
