h1{
    text-align: center;
}
.allP{
    border: 1px solid;
    max-width: 720px;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    
}

body{
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);    
}
@media (max-width: 770px){
    .allP{
        padding: 20px;

        width: 70%;
    }
   .main{
    width: 90%;
   }
   

}